allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
allow init debugfs:file write;
allow init untrusted_app:fd { use };
allow init hidl_memory_hwservice:hwservice_manager { find };
allow init untrusted_app_27:fd { use };
allow init untrusted_app_25:fd { use };
